<?xml version="1.0" encoding="UTF-8"?>
<svg width="169px" height="20px" viewBox="0 0 169 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>badge-communitysupport</title>
  <defs>
    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
      <stop stop-color="#636C76" offset="0%"></stop>
      <stop stop-color="#1A1D1F" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-2">
      <stop stop-color="#34D058" offset="0%"></stop>
      <stop stop-color="#28A745" offset="100%"></stop>
    </linearGradient>
  </defs>
  <g id="Project" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Badge" transform="translate(-755.000000, -398.000000)">
      <g id="model" transform="translate(400.000000, 242.000000)">
        <g id="Group-18" transform="translate(40.000000, 133.000000)">
          <g id="Group-18-Copy-2" transform="translate(291.000000, 23.000000)">
            <g id="badge-communitysupport" transform="translate(24.000000, 0.000000)">
              <g id="Group">
                <path d="M3,0 L27,0 L27,0 L27,20 L3,20 C1.34314575,20 1.97926296e-15,18.6568542 0,17 L0,3 C-2.02906125e-16,1.34314575 1.34314575,7.48448398e-16 3,0 Z" id="bg" fill="url(#linearGradient-1)" fill-rule="nonzero"></path>
                <path d="M10.927259,13.6233003 C11.6541339,14.1349968 12.5417661,14.435685 13.5,14.435685 C14.4551112,14.435685 15.34008,14.1369534 16.0656295,13.6282962 L17.190322,14.7475642 C16.2439172,15.4766182 15.0735707,15.9318357 13.7993547,15.993778 L13.571,15.999 L13.4096978,16.0003791 C12.0515616,15.9805546 10.8021224,15.5142683 9.8030864,14.7424791 L10.927259,13.6233003 Z M18.298,6.291 L22.0185747,10.0116681 L18.309,13.72 L17.194,12.61 L19.7996736,10.0060112 L17.188,7.395 L18.298,6.291 Z M8.696,6.296 L9.806,7.4 L7.20032636,10.0060112 L9.799,12.604 L8.684,13.714 L4.98142528,10.0116681 L8.696,6.296 Z M13.5,6.66109967 C15.3540878,6.66109967 16.8571229,8.15620857 16.8571229,10.0005189 C16.8571229,11.8448292 15.3540878,13.3399381 13.5,13.3399381 C11.6459122,13.3399381 10.1428771,11.8448292 10.1428771,10.0005189 C10.1428771,8.15620857 11.6459122,6.66109967 13.5,6.66109967 Z M13.4679933,6.86790469 L12.2508453,9.89472829 C12.2329749,9.93916879 12.2270181,9.98706775 12.2329749,10.0338139 L12.2508453,10.1024921 L13.4679933,13.1293157 L14.6851414,10.1024921 C14.7030118,10.0580516 14.7089686,10.0101526 14.7030118,9.96340647 L14.6851414,9.89472829 L13.4679933,6.86790469 Z M13.4679933,9.72032525 C13.6243581,9.72032525 13.7511168,9.84491766 13.7511168,9.99861018 C13.7511168,10.1523027 13.6243581,10.2768951 13.4679933,10.2768951 C13.3116286,10.2768951 13.1848699,10.1523027 13.1848699,9.99861018 C13.1848699,9.84491766 13.3116286,9.72032525 13.4679933,9.72032525 Z M13.5,4 C14.8904569,4 16.1710363,4.46796078 17.1912536,5.25419137 L16.0658266,6.37287965 C15.3402402,5.86413844 14.4551977,5.56535275 13.5,5.56535275 C12.5417661,5.56535275 11.6541339,5.86604095 10.927259,6.37773739 L9.80286175,5.25873215 C10.8240374,4.46976287 12.1068684,4 13.5,4 Z" id="eye" fill="#FFFFFF" opacity="0.800000012"></path>
              </g>
              <g id="Group" transform="translate(27.000000, 0.000000)" fill-rule="nonzero">
                <path d="M0,0 L139,0 C140.656854,-3.04359188e-16 142,1.34314575 142,3 L142,17 C142,18.6568542 140.656854,20 139,20 L0,20 L0,20 L0,0 Z" id="bg" fill="url(#linearGradient-2)"></path>
                <text id="Community-Support" fill-opacity="0.3" fill="#010101" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" font-size="11" font-weight="normal">
                  <tspan x="5" y="15">Community Support</tspan>
                </text>
                <text id="community_support_score" fill-opacity="0.3" fill="#010101" font-family="Verdana-Bold, Verdana" font-size="11" font-weight="bold">
                  <tspan x="121" y="15"><%= @score %></tspan>
                </text>
                <text id="Community-Support" fill="#FFFFFF" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" font-size="11" font-weight="normal">
                  <tspan x="5" y="14">Community Support</tspan>
                </text>
                <text id="community_support_score" fill="#FFFFFF" font-family="Verdana-Bold, Verdana" font-size="11" font-weight="bold">
                  <tspan x="121" y="14"><%= @score %></tspan>
                </text>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
